.firstDiv {
  background-color: #222222;
  margin-top: 100px;
  height: 300px;

  p {
    text-align: left;
  }
  h3 {
    text-align: left;
  }
}
.firstDiv img {
  width: 300px;
  height: auto;
}

.secondDiv {
  background-color: #222222;
  margin-top: 100px;
}
.secondDiv img {
  width: 70px;
  height: auto;
}
