.banner {
  background-color: #222222;
  margin-top: 100px;
  height: 300px;
  p {
    text-align: left;
  }
  h3 {
    text-align: left;
  }
  img {
    width: 230px;
    height: auto;
  }
}
.firstDiv {
  flex-direction: column;
}

.secondDiv {
  background-color: #222222;
  margin-top: 100px;
  // max-width: 320px;
  text-align: left;
  height: 720px;
}
.secondDiv img {
  width: 70px;
  height: auto;
}
.popular {
  background-color: #222222;

  h4 {
    text-align: left;
  }
  img {
    width: 100%;
    height: 230px;
  }
}
.reccomended {
  background-color: #222222;
  h4 {
    text-align: left;
  }
  img {
    width: 110px;
    height: auto;
  }
}
.genre {
  color: rgb(149, 152, 142);
}
.title {
  max-width: 220px;
}
.chapter {
  color: rgb(149, 152, 142);
  margin-bottom: 2px;
}
hr {
  color: white;
}
img {
  object-fit: cover;
}
