.popular {
  background-color: #222222;
  margin-top: 100px;
  h4 {
    text-align: left;
  }
  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
}
.secondDiv {
  background-color: #222222;
  margin-top: 100px;
  //   max-width: 320px;
  text-align: left;
  height: 100%;
}
.secondDiv img {
  width: 80px;
  height: 120px;
}
.genre {
  color: rgb(149, 152, 142);
}
.title {
  max-width: 220px;
}
hr {
  color: white;
}
button {
  background-color: #222222;
}
@media screen and (max-width: 993px) {
  .rowPrincipale {
    flex-direction: column;
  }
}
