<div class="container text-center divIniziale">
  <h2 class="text-white title">{{ manga.title }} {{ chapter.title }}</h2>
  <div class="d-flex justify-content-between my-3">
    <form>
      <fieldset>
        <select name="chapters" (change)="getChapterSingle($event)">
          <option
            *ngFor="let choice of chapters"
            [value]="choice.id"
            [selected]="choice.id === chapter.id"
          >
            {{ choice.title }}
          </option>
        </select>
      </fieldset>
    </form>
    <div class="d-flex">
      <button (click)="goToPreviousChapter()">Previous</button>
      <button (click)="goToNextChapter()" class="ms-2">Next</button>
    </div>
  </div>
  <div>
    <div class="panel">
      <img *ngFor="let panel of panels" src="{{ panel.imageUrl }}" alt="" />
    </div>
  </div>
</div>
<a href="#" (click)="scrollToTop($event)"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-chevron-up"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"
    />
  </svg>
</a>
